# Configuración de PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=fuenteagria_db
DB_HOST=postgres
DB_PORT=5432

# Configuración de PgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Cadena de conexión para Prisma (Backend)
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=public

# --- Configuración de MongoDB ---
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB_NAME=fuenteagria_mongo
# Connection String para el Backend (NestJS/Prisma)
MONGO_URL=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/${MONGO_DB_NAME}?authSource=admin
#Problemas de los usuarios
UID=1000
GID=1000