# --- MySQL ---
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# --- Prisma ---
DATABASE_URL=

# --- Seguridad ---
JWT_SECRET=
JWT_EXPIRES_IN=

# --- Google ---
GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=

# --- Frontend ---
VITE_API_URL=